footer.bottom-footer
 div.container
    p
    span &copy;2019 Veno.com
    ul#menu-footer-menu
     li
      a(href='#') About Us
     li
      a(href='#') Privacy
     // /li
     li
      a(href='#') Terms &amp; Conditions
     // /li
     li
      a(href='#') Contact Us
 a#scrollup Scroll



