doctype html
// Mirrored from storage.googleapis.com/themevessel-products/logdy/main/login-14.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Dec 2019 12:41:23 GMT
head
  title Logdy - Login and Register HTML5 Template
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  // External CSS libraries
  link(type='text/css' rel='stylesheet' href='/css/bootstrap.min.css')
  link(type='text/css' rel='stylesheet' href='/fonts/font-awesome/css/font-awesome.min.css')
  link(type='text/css' rel='stylesheet' href='/fonts/flaticon/font/flaticon.css')
  // Favicon icon
  link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
  // Google fonts
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700')
  // Custom Stylesheet
  link(type='text/css' rel='stylesheet' href='/css/style.css')
  link#style_sheet(rel='stylesheet' type='text/css' href='/css/skins/default.css')
.page_loader
// Login 14 start
.login-14
  .container
    .row.login-box
      .col-lg-5.col-md-12.bg-img.none-992.align-self-center
        .info
          .logo.clearfix
            a(href='/')
              img(src='/img/logos/logo.png' alt='logo')
          .btn-section.clearfix
            a.link-btn.active.btn-1.default-bg(href='/') Login
            .clearfix
            a.link-btn.btn-1(href='/signup') Register
          ul.social-list
            li
              a.facebook-bg(href='#')
                i.fa.fa-facebook
            li
              a.twitter-bg(href='#')
                i.fa.fa-twitter
            li
              a.google-bg(href='#')
                i.fa.fa-google
            li
              a.linkedin-bg(href='#')
                i.fa.fa-linkedin
            li
              a.pinterest-bg(href='#')
                i.fa.fa-pinterest
      .col-lg-7.col-md-12.bg-color-16.align-self-center
        .form-section
          .logo-2.clearfix
            a(href='/')
              img(src='/img/logos/logo-2.png' alt='logo')
          h3 Sign into your account
          .login-inner-form
            form.form--login
              .form-group.form-box
                input.input-text.form__input(type='email' name='email' id='email' placeholder='Email Address')
                i.flaticon-mail-2
              .form-group.form-box
                input.input-text.form__input(type='password' name='Password' id='password' placeholder='Password')
                i.flaticon-password
              .checkbox.clearfix
                .form-check.checkbox-theme
                  input#rememberMe.form-check-input(type='checkbox' value='')
                  label.form-check-label(for='rememberMe')
                    | Remember me
                a(href='forgot-password-14.html') Forgot Password
              .form-group.mb-0
                button.btn-md.btn-theme.btn-block Login
              p.text
                | Don&apos;t have an account?
                a(href='/')  Register here
// Login 14 end
// External JS libraries
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')
script(src='/js/login.js')
script(src='/js/jquery-2.2.0.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
// Custom JS Script
// Mirrored from storage.googleapis.com/themevessel-products/logdy/main/login-14.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Dec 2019 12:41:25 GMT
